##
###################################################
#
# All the schedule types for the simulator
# 
# You have to give each schedule and id and a 
# consumption for each day from 0 to 100% 
#
# lines begining with '#' are comments
# 
###################################################
##

#########################
## Daily schedules
##

##
# Constant
#

id = 0
zone = 0-24-100

##
# DayTime
# 

id = 1
zone = 0-7-0
zone = 7-20-100
zone = 20-24-0